    body {
        font-size: 18px;
        background-color: white;
        font-family: sans-serif;
    }
    
    .bars {
        background-image: url();
    }
    
    nav {
        max-width: 960px;
        margin: 0 auto;
        padding: 10px 0;
        margin-right: 0%;
        display: flex;
    }
    
    nav>ul>li>a {
        padding: 8px;
        margin-right: 0;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
    }
    
    nav>ul>li {
        display: inline-block;
        text-align: right;
    }
    
    form {
        display: flex;
        justify-content: center;
    }
    
    h1 {
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
    }
    
    .tours {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: inherit;
        justify-content: space-around;
    }
    
    h2 {
        text-align: center;
        color: indigo;
    }
    
    .services>h3 {
        text-align: center;
    }
    
    .about>h3 {
        text-align: center;
    }
    
    footer {
        display: flex;
        background-color: grey;
    }
    
    .contact>ul>li {
        display: flex
    }
    
    .social>ul>li {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    #insta {
        height: 4%;
        width: 4%;
    }
    
    #twit {
        height: 4%;
        width: 4%;
    }
    
    #face {
        height: 4%;
        width: 4%;
    }